<div class="flex-bar" style="padding-top:0.5em;">
  <div class="flex-expander"></div>
  <div style="line-height:1.5;font-weight:300;font-size:22px;padding-right:24px;">
    Report for the repository:
  </div>
  <md-input-container style="width:400px;" >
    <input mdInput placeholder="Repository url" [(ngModel)]="repo_textfield" (keydown)="reportKeyDown($event)">
  </md-input-container>
  <button md-button (click)="reload()">
    Reload
  </button>
  <div class="flex-expander"></div>
</div>

<div *ngIf="response">
  <md-card class="topic" *ngIf="response.state!=='done'">
    <md-card-title>Your report is in progress</md-card-title>
    <span *ngIf="response.state === 'new'">This is the first time we are creating a report for {{name}}. This will take a while...</span>
    <span *ngIf="response.state === 'scraping'">We are currently collecting your issues from {{provider}}.</span>
    <span *ngIf="response.state === 'scrapefail'"><font color="red">There has been an error while collecting your data!</font></span>
    <span *ngIf="response.state === 'calculating'">We are analysing your repository and calculating the report.</span>
    <span *ngIf="response.state === 'recalc'"><font color="#03a9f4">Those results are cached - we're currently updating the report.</font></span>
    <span *ngIf="response.state === 'calcfail'"><font color="red">There has been an error while calculating your report!</font></span>
    <span *ngIf="response.state === 'error'">Unfortunately there was an error: <font color="red">{{error_message}}</font></span>
    <span *ngIf="response.state === 'reqerror'"><font color="red">Can't connect to the server or another unknown error - we're on it :/</font></span>
    <md-progress-bar mode="indeterminate" *ngIf="['error', 'reqerror', 'calcfail', 'scrapefail'].indexOf(response.state) < 0"></md-progress-bar>
    <md-progress-bar mode="determinate" value=0 *ngIf="['error', 'reqerror', 'calcfail', 'scrapefail'].indexOf(response.state) >= 0"></md-progress-bar>
  </md-card>

</div>


<div *ngIf="status === 'done' && ['done', 'recalc'].indexOf(response.state) >= 0">
  <md-card class="topic" *ngIf="(response.label_prediction_total_set + response.duplicate_total + response.author_prediction_correct_pings + response.stale_total)*5/60 >= 20">
    <md-card-title style="display:flex;align-items:baseline;" >
      <p>GitMate would have saved you <span class="value">{{(response.label_prediction_total_set + response.duplicate_total + response.author_prediction_correct_pings + response.stale_total)*5/60 | number:'.0-0'}}</span> hours of work on your project</p>
    </md-card-title>
    <md-card-subtitle>
      <p>
        Based on {{response.label_prediction_total_set + response.duplicate_total + response.author_prediction_correct_pings + response.stale_total}} actions GitMate would have taken for you, valued a 5 minutes each.
      </p>
      <p>
        This analysis did not take issue comments into account, leading to inferior results compared with an active GitMate instance.
      </p>
    </md-card-subtitle>
  </md-card>

  <md-card class="topic" *ngIf="(response.label_prediction_total_set + response.duplicate_total + response.author_prediction_correct_pings + response.stale_total)*5/60 < 20" >
    <md-card-title style="display:flex;align-items:baseline;" >
      <p>There are not enough issues for a meaningful analysis.</p>
    </md-card-title>
    <md-card-subtitle>
      <p>GitMate needs some data to work with, and your repository seems to be too small for a meaningful analysis.
        The analysis should start yielding results once you have at least 5 frequently used labels and 5 contributors who open or comment on issues.</p>
      <p *ngIf="response.label_prediction_total_set + response.duplicate_total + response.author_prediction_correct_pings + response.stale_total !== 0">
        It seems that we found some insights on the data that you have - just scroll down to see it.
      </p>
    </md-card-subtitle>
  </md-card>

  <md-card class=topic style="text-align:center" *ngIf="!user && response.label_prediction_total_set + response.duplicate_total + response.author_prediction_correct_pings + response.stale_total !== 0">
    <span>
      Start saving time and keep your issue tracker clean!
    </span>
    <div style="text-align: center">
      <div class="container center-block buttons">
        <div>
          <button class="big-button" md-raised-button color="accent" (click)="loginGitHub()">
            <md-icon class="vendor-icon" fontSet="fa" fontIcon="fa-github" ></md-icon>
            Use with GitHub
          </button>
        </div>
        <div>
          <button class="big-button" md-raised-button color="accent" (click)="loginGitLab()">
            <md-icon class="vendor-icon" fontSet="fa" fontIcon="fa-gitlab" ></md-icon>
            Use with GitLab
          </button>
        </div>
      </div>
    </div>
  </md-card>

  <md-card class="topic" *ngIf="response.label_prediction_total_set === 0">
    <p>This repository contains too few recurring labels for a meaningful label prediction</p>
  </md-card>

  <md-card class="topic" *ngIf="response.label_prediction_total_set > 0">
    <div style="display:flex;align-items:flex-end;">
      <p>GitMate would have set
      <span class="value">{{response.label_prediction_total_set}}</span>
      labels for you.</p>
    </div>
    <button md-button (click)="show_labels = !show_labels">show examples</button>

    <div *ngIf="show_labels">
      <div *ngFor="let example of response.label_examples">
        <div class="labelslist">
          <div class="issue-meta">
            <div class="issue-highlight">
              {{example.number}}:&nbsp;
              <a href="https://{{provider}}.com/{{name}}/issues/{{example.number}}" target="_blank">{{example.title}}</a>
            </div>
          </div>
          <div class="issue-labels">
            <md-chip-list>
              <md-chip *ngFor="let label of example.gitmate">{{label}}</md-chip>
            </md-chip-list>
          </div>
        </div>
      </div>
    </div>
  </md-card>

  <md-card class="topic" *ngIf="response.duplicate_total === 0">
    <p>There don't seem to be any duplicates in this repository</p>
  </md-card>

  <md-card class="topic" *ngIf="response.duplicate_total > 0">
    <div style="display:flex;align-items:flex-end;">
      <p>GitMate found
      <span class="value">{{response.duplicate_total}}</span>
      groups of duplicates in your repository.</p>
    </div>

    <button md-button (click)="show_dupes = !show_dupes">show examples</button>

    <div *ngIf="show_dupes">
      <md-nav-list>
        <div *ngFor="let example of response.duplicate_examples">

          <md-list-item>
            {{example.number}}:&nbsp;
            <a href="https://{{provider}}.com/{{name}}/issues/{{example.number}}" style="margin-left: 24px;" target="_blank">{{example.title}}</a>
          </md-list-item>

          <md-list-item *ngFor="let x of example.duplicates" >
            {{x.number}}:&nbsp;
            <a href="https://{{provider}}.com/{{name}}/issues/{{x.number}}" style="margin-left: 24px;" target="_blank">{{x.title}}</a>
            <p style="color: #757575">&nbsp;({{x.similarity*100 | number:'1.0-2'}}% similarity)</p>
          </md-list-item>
          <md-divider></md-divider>
        </div>
      </md-nav-list>
    </div>
  </md-card>


  <md-card class="topic" *ngIf="response.author_prediction_correct_pings === 0">
    <p>There are too few active contributors with enough contributions for a prediction</p>
  </md-card>

  <md-card class="topic" *ngIf="response.author_prediction_correct_pings > 0">
    <div style="display:flex;align-items:flex-end;">
      <p>GitMate would have pinged
      <span class="value">{{response.author_prediction_correct_pings}}</span>
      developers in discussions they later contributed to.</p>
    </div>
    <div><font color=#03a9f4 >An active GitMate instance will perform even better because it's able to analyse issue comments.</font>
    </div>

    <button md-button (click)="show_authors = !show_authors">show examples</button>

    <div *ngIf="show_authors">
      <md-grid-list cols="3" rowHeight="64px">

        <div *ngFor="let example of response.author_prediction_examples">

          <md-grid-tile [colspan]=2>
            <md-nav-list style="width:100%">
              <md-list-item>
                {{example.number}}:&nbsp;
                <a href="https://{{provider}}.com/{{name}}/issues/{{example.number}}" target="_blank">{{example.title}}</a>
              </md-list-item>
            </md-nav-list>
          </md-grid-tile>

          <md-grid-tile>
            <md-chip-list>
              <md-chip *ngFor="let author of example.gitmate">{{author}}</md-chip>
            </md-chip-list>
          </md-grid-tile>

        </div>
      </md-grid-list>
    </div>
  </md-card>

  <md-card class="topic" *ngIf="response.stale_total > 0">
    <div style="display:flex;align-items:flex-end;">
      <p>GitMate has detected
      <span class="value">{{response.stale_total}}</span>
      issues that haven't seen any updates in one month.</p>
    </div>

    <div>
      <p>GitMate can automatically close stale issues that match certain criteria, e.g. if information is missing. This way you can stop going through old issues while maintaining an up to date issue database.</p>
    </div>

    <button md-button (click)="show_stale = !show_stale">show examples</button>

    <div *ngIf="show_stale">
      <md-nav-list>
          <md-list-item *ngFor="let example of response.stale_examples">
            {{example.number}}:&nbsp;
            <a href="https://{{provider}}.com/{{name}}/issues/{{example.number}}" style="margin-left: 24px;" target="_blank">{{example.title}}</a>
          </md-list-item>
        </md-nav-list>
    </div>
  </md-card>
</div>

<md-card style="text-align:center" *ngIf="!user">
  <span>
    Start saving time and keep your issue tracker clean!
  </span>
  <div style="text-align: center">
    <div class="container center-block buttons">
      <div>
        <button class="big-button" md-raised-button color="accent" (click)="loginGitHub()">
          <md-icon class="vendor-icon" fontSet="fa" fontIcon="fa-github" ></md-icon>
          Use with GitHub
        </button>
      </div>
      <div>
        <button class="big-button" md-raised-button color="accent" (click)="loginGitLab()">
          <md-icon class="vendor-icon" fontSet="fa" fontIcon="fa-gitlab" ></md-icon>
          Use with GitLab
        </button>
      </div>
    </div>
  </div>
</md-card>
